BOOKING_API_README.md
Casestudy_Deloitte.pptx
ERDIAGRAMEAMPLE.jpg
EventService_API_README.md
HELP-bookingservice.md
HELP-eventservice.md
problemstatement - deloitte.docx
Project GuideLine.docx
Project Template.pptx
README-uderservice.md
README-frontend.md
ArchitctureDiagram.svg
Architecture_Diagram.md
ArchitectureDiagram.png
ArchitectureDiagram.svg
ProjectFlowDiagram (1).svg
Project_Flow_Diagram.png
Project_Flow_Diagram.md
EventZen.docx
ERDIAGRAMTEST.svg
ERDiagramEraser.png
ER_Diagram.md
ProjectFlowDiagram.png
Images/DashboardAdmin.jpg
ProjectflowDiagram.svg
Images/ViewMyBookingUser.jpg
Images/RegisterPage.jpg
Images/MyProfileUser.jpg
Images/MyBookingsUser.jpg
Images/ManageVenuesAdmin.jpg
Images/ManageVendorsAdmin.jpg
Images/ManageEventsAdmin.jpg
Images/LoginPage.jpg
Images/HomePage.jpg
Images/EventsUser.jpg
Images/EventsPage.jpg
Images/EventsAdmin.jpg
